@font-face {
  font-family: 'Blackout Sunrise';
  src: url(blackout_sunrise-webfont.woff);
}

body {
  background: linear-gradient(#fff, #888);
  background-attachment: fixed;
  margin: 0;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Blackout Sunrise';
}

h1 {
  color: #eb005a;
  padding: 0;
  margin: 10px 5px;
  font-size: 2.5rem;
}

.three-am {
  display: flex;
  margin: 3em 0;
}

.stego {
  border: 10px solid #FF69B4;
  margin-left: 1em;
}

.bigger {
  background-color: #6b00c2;
  font-size: 2.7rem;
  text-shadow: #edff00 4px 2px 0;
  padding: 0 20px;
  line-height: 2.4rem;
  font-weight: 600;
}

.conversation p {
  font-family: monospace;
}

.kokomo {
  border: 10px solid #73ffff;
}
